RewriteRule ^notice-file-urls-subject-to-change/?$ /2025/07/notice-file-urls-subject-to-change/ [R=301,L]
RewriteRule ^half-a-billion-downloads/?$ /2024/07/half-a-billion-downloads/ [R=301,L]
RewriteRule ^debian-buster-eol/?$ /2024/07/debian-buster-eol/ [R=301,L]
RewriteRule ^debian-bookworm-and-raspberry-pi-5/?$ /2023/11/debian-bookworm-and-raspberry-pi-5/ [R=301,L]
RewriteRule ^one-hundred-million-customers-served/?$ /2022/10/one-hundred-million-customers-served/ [R=301,L]
RewriteRule ^debian-stretch-eol/?$ /2022/07/debian-stretch-eol/ [R=301,L]
RewriteRule ^view-piwheels-build-output/?$ /2022/03/view-piwheels-build-output/ [R=301,L]
RewriteRule ^piwheels-stats-for-2021/?$ /2022/01/piwheels-stats-for-2021/ [R=301,L]
RewriteRule ^piwheels-stats-2021q4/?$ /2022/01/piwheels-stats-2021q4/ [R=301,L]
RewriteRule ^piwheels-stats-2021q3/?$ /2021/11/piwheels-stats-2021q3/ [R=301,L]
RewriteRule ^piwheels-stats-2021q2/?$ /2021/11/piwheels-stats-2021q2/ [R=301,L]
RewriteRule ^the-rinds-of-the-cheese-shop-menu/?$ /2021/08/the-rinds-of-the-cheese-shop-menu/ [R=301,L]
RewriteRule ^python-3-9-wheels-for-bullseye/?$ /2021/08/python-3-9-wheels-for-bullseye/ [R=301,L]
RewriteRule ^piwheels-stats-2021q1/?$ /2021/04/piwheels-stats-2021q1/ [R=301,L]
RewriteRule ^piwheels-stats-for-2020/?$ /2021/01/piwheels-stats-for-2020/ [R=301,L]
RewriteRule ^piwheels-stats-2020q4/?$ /2021/01/piwheels-stats-2020q4/ [R=301,L]
RewriteRule ^piwheels-stats-2020q3/?$ /2020/10/piwheels-stats-2020q3/ [R=301,L]
RewriteRule ^new-opencv-builds-including-opencv-4-4-x/?$ /2020/09/new-opencv-builds-including-opencv-4-4-x/ [R=301,L]
RewriteRule ^requires-python-support-new-project-page-layout-and-a-new-json-api/?$ /2020/09/requires-python-support-new-project-page-layout-and-a-new-json-api/ [R=301,L]
RewriteRule ^canonicalise-all-the-things/?$ /2020/09/canonicalise-all-the-things/ [R=301,L]
RewriteRule ^new-features-deletion-yanking-and-more/?$ /2020/08/new-features-deletion-yanking-and-more/ [R=301,L]
RewriteRule ^piwheels-stats-2020q2/?$ /2020/07/piwheels-stats-2020q2/ [R=301,L]
RewriteRule ^debian-jessie-eol/?$ /2020/06/debian-jessie-eol/ [R=301,L]
RewriteRule ^raspberry-pi-os-64-bit-aarch64/?$ /2020/05/raspberry-pi-os-64-bit-aarch64/ [R=301,L]
RewriteRule ^legacy-domain-piwheels-hostedpi-com-deprecated/?$ /2020/05/legacy-domain-piwheels-hostedpi-com-deprecated/ [R=301,L]
RewriteRule ^piwheels-stats-2020q1/?$ /2020/04/piwheels-stats-2020q1/ [R=301,L]
RewriteRule ^the-mysterious-case-of-the-unexplained-downloads-spike/?$ /2020/03/the-mysterious-case-of-the-unexplained-downloads-spike/ [R=301,L]
RewriteRule ^how-you-can-help/?$ /2020/03/how-you-can-help/ [R=301,L]
RewriteRule ^piwheels-stats-for-2019/?$ /2020/01/piwheels-stats-for-2019/ [R=301,L]
RewriteRule ^piwheels-stats-2019q4/?$ /2020/01/piwheels-stats-2019q4/ [R=301,L]
RewriteRule ^piwheels-stats-2019q3/?$ /2019/11/piwheels-stats-2019q3/ [R=301,L]
RewriteRule ^piwheels-stats-2019q2/?$ /2019/11/piwheels-stats-2019q2/ [R=301,L]
RewriteRule ^new-opencv-builds-including-opencv-4-x/?$ /2019/11/new-opencv-builds-including-opencv-4-x/ [R=301,L]
RewriteRule ^raspbian-buster-builds-complete/?$ /2019/07/raspbian-buster-builds-complete/ [R=301,L]
RewriteRule ^raspbian-buster-builds-in-progress/?$ /2019/07/raspbian-buster-builds-in-progress/ [R=301,L]
RewriteRule ^raspberry-pi-4-and-raspbian-buster/?$ /2019/06/raspberry-pi-4-and-raspbian-buster/ [R=301,L]
RewriteRule ^piwheels-stats-2019q1/?$ /2019/04/piwheels-stats-2019q1/ [R=301,L]
RewriteRule ^piwheels-stats-for-2018/?$ /2019/01/piwheels-stats-for-2018/ [R=301,L]
RewriteRule ^new-tensorflow-releases-for-raspberry-pi/?$ /2018/09/new-tensorflow-releases-for-raspberry-pi/ [R=301,L]
RewriteRule ^how-to-work-out-the-missing-dependencies-for-a-python-package/?$ /2018/09/how-to-work-out-the-missing-dependencies-for-a-python-package/ [R=301,L]
RewriteRule ^new-opencv-builds/?$ /2018/09/new-opencv-builds/ [R=301,L]
RewriteRule ^official-tensorflow-releases/?$ /2018/08/official-tensorflow-releases/ [R=301,L]
RewriteRule ^tag/debian-buster/?$ /tags/buster/ [R=301,L]
RewriteRule ^tag/python-3-7/?$ /tags/python-3-7/ [R=301,L]
RewriteRule ^tag/python-3-5/?$ /tags/python-3-5/ [R=301,L]
RewriteRule ^tag/flask/?$ /tags/flask/ [R=301,L]
RewriteRule ^tag/debian-bookworm/?$ /tags/bookworm/ [R=301,L]
RewriteRule ^tag/raspbian-bullseye/?$ /tags/bullseye/ [R=301,L]
RewriteRule ^tag/debian-stretch/?$ /tags/stretch/ [R=301,L]
RewriteRule ^tag/aarch64/?$ /tags/aarch64/ [R=301,L]
RewriteRule ^tag/stats/?$ /tags/stats/ [R=301,L]
RewriteRule ^tag/virtualenv/?$ /tags/virtualenv/ [R=301,L]
RewriteRule ^tag/python-3-11/?$ /tags/python-3-11/ [R=301,L]
RewriteRule ^tag/python-3-9/?$ /tags/python-3-9/ [R=301,L]
RewriteRule ^tag/python-3-4/?$ /tags/python-3-4/ [R=301,L]
RewriteRule ^tag/github/?$ /tags/github/ [R=301,L]
RewriteRule ^tag/python-3-8/?$ /tags/python-3-8/ [R=301,L]
RewriteRule ^tag/updates/?$ /tags/updates/ [R=301,L]
RewriteRule ^tag/raspberry-pi-4/?$ /tags/raspberry-pi-4/ [R=301,L]
RewriteRule ^tag/cbor2/?$ /tags/cbor2/ [R=301,L]
RewriteRule ^tag/help/?$ /tags/help/ [R=301,L]
RewriteRule ^tag/opencv/?$ /tags/opencv/ [R=301,L]
RewriteRule ^tag/debian-bullseye/?$ /tags/bullseye/ [R=301,L]
RewriteRule ^tag/raspbian-buster/?$ /tags/buster/ [R=301,L]
RewriteRule ^tag/tensorflow/?$ /tags/tensorflow/ [R=301,L]
RewriteRule ^tag/raspbian-jessie/?$ /tags/jessie/ [R=301,L]
RewriteRule ^tag/sentry/?$ /tags/sentry/ [R=301,L]
RewriteRule ^tag/python-3-10/?$ /tags/python-3-10/ [R=301,L]
