h1, h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited {
  color: #77777a;
  text-decoration: none;
}

.postmeta {
  display: block;
  color: #77777a;
  font-size: 0.8em;
}

.postmeta a {
  color: #77777a;
}

.prev {
  text-align: left;
}

.next {
  text-align: right;
}

.callout.primary.tags a {
  padding: 0 2px;
}

h3.title {
  font-size: 2.5em;
  margin: 0;
}

.post {
  margin-bottom: 40px;
}

pre > code {
  padding: 0;
}

code {
  background-color: transparent;
  border: 0;
}

figure {
  margin: 20px 0;
}

figure.block-image {
  display: table;
  margin: 20px auto;
}

figure.block-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure.block-image figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 5px 2px;
  text-align: center;
  background: #d7ecfa;
  font-size: 14px;
  border: 0;
  border-top: 0;
  color: black;
}

figcaption a, figcaption a:hover {
  color: black;
}

pre, blockquote {
  background: #f0f8ff;
  margin: 1em 2em;
  padding: 1em;
}

blockquote p {
  font-style: italic;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote a:link {
  color: #8a8a8a;
}